<div class="jumbotron">
  <div class="container">
    <h1 class="display-4"><%= @patient.name %></h1>
    <p class="lead">
      Oh no! We hope <%= @patient.name %> isn't sick.
    </p>
    <p class="lead">
      <%= link_to 'Add medication', '#', class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>

<div class="container">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @patient.medicines.each do |medicine| %>
        <tr>
          <td>
            <%= medicine.name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
